sktime>=0.38.1
pandas<=2.2
numpy<2
matplotlib>=3.10.3
ipython>=8
ipykernel>=6.29.5
seaborn>=0.13.2
statsmodels>=0.14.4
pytorch-forecasting<1.4
transformers==4.48.0
accelerate>=1.8.1
pmdarima>=2.0.4
xgboost>=3.0.2
prophetverse>=0.8.1
jupyterlab>=4.4.4

# Install current directory as editable package
-e .
